@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';
/* @import 'https://fonts.googleapis.com/css2?family=Arima&display=swap'; */

h1 {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 60px;
    text-align: center;
}

p {
  font-size: 30px;
  font-family: 'Arima', cursive;
}
